body { 
position: absolute; 
width: 100%; 
height: 100%;
}
html {
  line-height: 1;
}


/* display letter content*/
#lettersList{
    text-align: center;
    font-size: 250px;
    color: black;
    text-decoration: " ";
}

#lettersList-{
    text-align: center;
    font-size: 250px;
    color: green;
    }
/* time bar content*/
#time {
    height: 30px;
    width: 100%;
    background-color: green;
}

/*score content*/
#score {
    font-size: 30px;
    padding-top: 30px;
    margin-left: 15px;
    color: yellow;
}

/*level content*/
#level {
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
    font-size: 45px;
    font-family: Brushstroke, fantasy;
    color: yellow;
}

/*life content*/
#life {
    font-size: 30px;
    color: red;
}


#image, #image2, #image3{
	background-image:url("../image/life.png");visibility:  "";
	height:0px;
	width:10px;
}

#life {
	font-size:30px;
}

#life, #image, #image2, #image3{
	display:inline-block;
	padding : 20px;
		margin-left:15px;
}

#break{
	float:right;
	margin-top:-100px;
	margin-right:30px;
    background :url("../image/game_break.png");
    height: 128px;
    width: 128px;
}



/* General styles and layout */
.part1{
  background-repeat:no-repeat;
  background-color: LightCyan;
}

.part2 {
    background-color: white;
    height: 50%;
}

