/* display letter */
#lettersList{
    text-align: center;
    font-size: 250px;
}

/* time bar */
#time {
    height: 10px;
    width: 100%;
    background-color: brown;
}

/*score */
#score {
    font-size: 30px;
    padding-top: 30px;
    margin-left: 15px;
}

#level {
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
    font-size: 45px;
    font-family: Brushstroke, fantasy;
}

#life {
    font-size: 30px;
}